form {
    border: 1px solid gray;
    border-radius: 5px;
    width: 240px;
    font: 14px/1.4, "Helvetica Neue", Helvetica, Arial;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
input {
    border-radius: 5;
    margin: 0;
}
.account-info{
    padding: 20px 20px 0px 20px; 
}
.account-info label{
    color:blue;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
.account-info input{
    background: #fff;
    border: 1px solid lightgoldenrodyellow;
    color: olive;
    margin-top: 6px;
    width: 100%;
    height: 6px;
}
.account-action{
    background:beige;
    border-top: 1px solid lightslategray;
    padding: 10px;
}
.account-action .btn{
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    border: 0;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
    cursor: pointer;
}
.account-action label{
    color: gray;
    font-size: 12px;
    float: left;
    margin: 10px 0 0 20px;
}